.wrpframe {
    display:inline-table;
    background-color:rgba(0,0,0,0.2);
    border-radius:20px;
    margin-left:3px;
    margin-right:3px;
    padding-top:20px;
    width:0.1mm;
}

#c1 {
animation: c1 1s cubic-bezier(.02,.32,0,1);
}

@keyframes c1 {
    0% {transform:translate(-3vw,0vw); opacity:0}
    100% {transform:translate(0vw,0vw); opacity:1}
}

#c2 {
    animation: c2 1.1s cubic-bezier(.45,0,0,1)
}

@keyframes c2 {
    0% {transform:translate(0vw,0vw); opacity:0}
    10% {transform:translate(3vw,0vw); opacity:0}
    100% {transform:translate(0vw,0vw); opacity:1}
}

.container .gradienttext h1 {
    font-size:40px;
}

.container .gradienttext p {
    font-size:20px;
}

.container .gradienttext {
    text-align:left;
    margin-top:-0.2vw;
    margin-left:20px;
    margin-right:20px;
    padding:0;
    background-image: linear-gradient(45deg,var(--gr), var(--pr));
    width:90%;
}

.c-iframe {
    margin-right:20px;
    margin-left:20px;
}

.btn {
    font-size:20px;
    display:inline-block;
}

#btn {
    width:160px;
    margin-left:32px;
    margin-right:-34px;
    margin-bottom:20px;
    display:inline-block;
}

  .btngrad {
	border-width: 5px;
  }

.btnwrap button {
    font-size:21px;
    padding: 8px;
    margin:none;
    display:inline-block;
  }
