:root {
	--pr: #572da3;
	--gr: #2fd571;
	--prd: #1e0f38;
	--grd: #0a2615;
	--bg: #0b0b1a;
}

::selection {
  color: black;
  background: white;
}

.fadeoff * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color; black;
	background: linear-gradient(45deg, var(--grd), var(--prd));
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    padding: 0;
    margin: 0;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

#totop {
	display: block;
	position: fixed;
	bottom: 1.5vw;
	right: 1.5vw;
	z-index: 100;
	font-size: 1vw;
	border: none;
	outline: none;
	background-color: rgba(255 ,255 ,255 , 0.1);
	color: white;
	cursor: pointer;
	padding: 0.5vw;
	border-radius: 0.6vw;
	filter:drop-shadow(0px 0px 0.3vw black);
	transition:0.3s;
	animation: arrow 2s
  }
  
  #totop:hover {
	background-color: rgba(255 ,255 ,255 , 0.12);
	filter:drop-shadow(0px 0px 0.1vw rgba(255 ,255 ,255 , 0.5));
	transition:0.3s;
  }

span {
  color: var(--gr);
  font-family:inter;
  font-size:1vw;
  display:table;
  /*margin:auto;*/
}

.nav {
 background-color: rgba(0, 0, 0, 0.2);
 overflow:hidden;
 list-style:none;
 margin:0;
 padding:0;
 text-align:center;
 filter:drop-shadow(0px 0.5vw 0.4vw black);
}

.nav li {
	display:inline-block;
	vertical-align: middle;
	padding-right:2vw;	
	transition:0.2s;
}

.nav li:active {
	animation: 0.4s navout infinite;
}

@keyframes navout {
0% {transform:translate(0vw, 0vw)}
50% {transform:translate(0vw,-0.3vw)}
100% {transform:translate(0vw, 0vw)}
}

.nav a {
	display:inline-block;
  font-family:inter;
	padding: none;
	margin: none;
  font-weight: 600;
  font-size:0.8vw;
  text-decoration: none;
  float:left;
  color: #BFBFBF;
  padding-top:0.5vw;
  padding-bottom:0.5vw;
  filter:drop-shadow(0px 0px 0.8vw rgba(255,255,255, 0));
  transition:0.3s;
}

.nav a:hover {
  color: white;
	filter:drop-shadow(0px 0px 0.8vw white);
}

.logo { /*This just makes the size relative*/
  width: 1.2vw;	
  filter: brightness(80%);
  transition: 0.3s;
}

.logo:hover {
	filter: brightness(200%);
	transition: 0.8s;
}

.card img {
	display:inline-block;
	float: left;
}

.card {
	margin: auto;
    width: 34%;
	background-color: rgba(0 , 0, 0, 0.11) /*rgba(15, 15, 31, 0.2);*/;
	padding:0.7vw;
	border-radius:1.3vw;
	margin-bottom: 0vw;
	filter: drop-shadow(0px 1vw 1.2vw rgba(0, 0, 0, 1));
	animation: cardA 0.7s;
}

@keyframes cardA { /*start transition*/
	from {transform:scale(1.1,1.1) translate(0vw, -2vw); opacity:0; filter:drop-shadow(0px 1vw 1vw rgba(0, 0, 0, 0))}
	to {transform:scale(1,1); opacity:1; filter:drop-shadow(0px 1vw 1.2vw rgba(0, 0, 0, 1))}
  }  

.card h1 {
	font-family:inter;
	color: var(--gr);
	line-height:0;
	font-size:2.3vw;
  }

.card span {
 font-size:1.2vw;	
} 
  

.cardlogo { /*relative size*/
  width: 7.3vw;
}

.align1 {
	display: table;
    width: 100%;
	position: relative;
	margin-top: 32vh;
}


.text {
	background-color: var(--gr);
	background-image: linear-gradient(135deg, var(--gr), var(--pr));
	display:inline-block;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 -moz-background-clip: text;
 -moz-text-fill-color: transparent;
	vertical-align:middle;
	margin-left: 1vw;
	filter:drop-shadow(0px 0px 0.3vw black)
}

.gradienttext h1 {
	background-color: var(--gr);
	text-align: center;
	font-size:2.3vw;
	margin:0;
	background-image: linear-gradient(135deg, #000, #000, var(--gr), var(--pr), #000, #000);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 -moz-background-clip: text;
 -moz-text-fill-color: transparent;
}

.gradienttext p {
	text-align: center;
	font-size: 1.01vw;
	margin-top:0.2vw;
	background-color: var(--gr);
	background-image: linear-gradient(135deg, #000, var(--gr), var(--pr), #000);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 -moz-background-clip: text;
 -moz-text-fill-color: transparent;
}

.darrow	 {
	width: 2vw;
	margin: auto;
	margin-top:1.5vw;
	padding:0.7vw;
	opacity: 0.9;
	outline: none;
	animation: arrow 1.8s;
}

@keyframes arrow {
	0% {filter:opacity(0%)}
	60% {filter:opacity(0%)}
	100% {filter:opacity(100%)}
}

.wrap {
		animation: up-down 1.4s infinite;
		display: table;
	    margin: 0 auto;
}

.wrap a {
	filter:brightness(100%);
	transition: 0.4s;
}

.wrap a:hover {
	filter:brightness(150%) saturate(120%);
	opacity:1;
	transition: 0.4s;
}

@keyframes up-down {
	0% {transform:translate(0vw, 0.4vw)}
	50% {transform:translate(0vw, 0vw)}
	100% {transform:translate(0vw, 0.4vw)}
}

.block {
	font-family:inter;
    color: var(--gr);
	background-color: rgba(7, 7, 15, 0.3);
	padding:1vw;
	margin-top: 32vh; /*this puts the div at (around) the browser bottom. not perfect but it works*/
}

.container {
	margin: 0 auto;
	display: table;
}

.c-iframe {
	border:0;
	display:inline-block;	
	padding-right:2vw;
	padding-left:2vw;
	transition:0.2s;
}

.toppiece {
	color:rgba(255, 255, 255, 0.4); 
	margin:0px;
	font-family:inter; 
	text-align:center; 
	line-height:1.8; 
	font-size:0.75vw;
	background-color:black;
}

.textrow {
	text-align:center;
} 
