:root {
	--pr: #572da3;
	--gr: #2fd571;
	--bg: #0b0b1a;
}

::selection {
  color: black;
  background: white;
}

.fadeoff * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

html {
scroll-behavior: smooth;
}

body {
	background-color:#0b0b1a;
  padding: 0;
  margin: 0;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

span {
  color: var(--gr);
  font-family:inter;
  font-size:1vw;
  display:table; /* This + the margin centers span.*/
  /*margin:auto;*/
}

.nav {
 background-color: #121229;
 overflow:hidden;
 list-style:none;
 margin:0;
 text-align:center;
}

.nav li {
	display:inline-block;
	vertical-align: middle;
	padding-right:2vw;	
	transition:0.2s;
}

.nav li:active {
	animation: 0.4s navout infinite;
}

@keyframes navout {
0% {transform:translate(0vw, 0vw)}
50% {transform:translate(0vw,-0.3vw)}
100% {transform:translate(0vw, 0vw)}
}

.nav a {
	display:inline-block;
  font-family:inter;
	padding: none;
	margin: none;
  font-weight: 600;
  font-size:0.8vw;
  text-decoration: none;
  float:left;
  color: #BFBFBF;
  padding-top:0.5vw;
  padding-bottom:0.5vw;
  transition:0.3s;
}

.nav a:hover {
  color: white;
	padding-right:0.5vw;
	padding-left:0.5vw;
	filter:drop-shadow(0px 0px 0.5vw gray);
}

.logo { /*This just makes the size relative*/
  width: 1.2vw;	
  filter: brightness(80%);
  transition: 0.3s;
}

.logo:hover {
	filter: brightness(200%);
	transition: 0.8s;
}

.card img {
	display:inline-block;
	float: left;
}

.card {
	margin: auto;
    width: 34%;
	background-color: #0f0f1f;
	padding:0.7vw;
	border-radius:1.3vw;
	margin-bottom: 0vw;
	filter: drop-shadow(0px 1vw 2vw rgba(0, 0, 0, 0.6));
	animation: cardA 0.6s;
}

.card h1 {
	font-family:inter;
	color: var(--gr);
	line-height:0;
	font-size:2.3vw;
  }

.card span {
 font-size:1.2vw;	
} 
  

.cardlogo { /*relative size*/
  width: 7.3vw;
}

.align1 {
	display: table;
    width: 100%;
	position: relative;
	margin-top: 32vh;
}

@keyframes cardA { /*start transition*/
  from {transform:scale(1.2,1.2); filter:opacity(0%) blur(0.2vw) drop-shadow(0px 1vw 2vw rgba(0, 0, 0, 0))}
  to {transform:scale(1,1); filter:opacity(100%) blur(0vw) drop-shadow(0px 1vw 2vw rgba(0, 0, 0, 0.6))}
}

.text {
	background-color: var(--gr);
	background-image: linear-gradient(135deg, var(--gr), var(--pr));
	display:inline-block;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 -moz-background-clip: text;
 -moz-text-fill-color: transparent;
	vertical-align:middle;
	margin-left: 1vw;
	filter:drop-shadow(0px 0px 0.3vw black)
}

.gradienttext h1 {
	background-color: var(--gr);
	text-align: center;
	font-size:2.3vw;
	margin:0;
	background-image: linear-gradient(135deg, #000, #000, var(--gr), var(--pr), #000, #000);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 -moz-background-clip: text;
 -moz-text-fill-color: transparent;
}

.gradienttext p {
	text-align: center;
	font-size: 1.01vw;
	margin-top:0.2vw;
	background-color: var(--gr);
	background-image: linear-gradient(135deg, #000, var(--gr), var(--pr), #000);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 -moz-background-clip: text;
 -moz-text-fill-color: transparent;
}

.darrow {
	width: 2vw;
	margin: auto;
	margin-top:1.5vw;
	padding:0.7vw;
	animation: arrow 1.8s;
}

@keyframes arrow {
	0% {filter:opacity(0%)}
	60% {filter:opacity(0%)}
	100% {filter:opacity(100%)}
}

.wrap {
		animation: up-down 1.4s infinite;
		display: table;
	    margin: 0 auto;
}

.wrap a {
	filter:brightness(100%);
	transition: 0.4s;
}

.wrap a:hover {
	filter:brightness(150%);
	transition: 0.4s;
}

@keyframes up-down {
	0% {transform:translate(0vw, 0.4vw)}
	50% {transform:translate(0vw, 0vw)}
	100% {transform:translate(0vw, 0.4vw)}
}

.block {
	font-family:inter;
    color: var(--gr);
	background-color: #07070f;
	padding:1vw;
	margin-top: 16.6vw;
}

.h_iframe        {position:relative;margin:1.4vw;}
.h_iframe .ratio {display:inline-block;width:25%;height:auto;}
.h_iframe iframe {position:absolute;left:0;width:25%; height:100%;}

.wrap2 {
 height:100%;
	scroll-behavior: smooth;
}
